
/*
 * @theme highlight
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */  

 
 section.title {
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  section {
    background-color: #fdfcff;
    color: #202228;
    display: flex;
    flex-flow: column nowrap;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    height: 720px;
    justify-content: start;
    letter-spacing: 3px;
    line-height: 1.4;
    padding: 30px 70px;
    position: relative;
    text-align: start;
    width: 1280px;
    word-wrap: break-word;
    z-index: 0;
  }
  
  section::after {
    align-items: flex-end;
    background: linear-gradient(
      -45deg,
      #DCDCDC 50%,
      transparent 50%
    );
    background-size: cover;
    color: #202228;
    display: flex;
    font-size: 0.6em;
    height: 80px;
    justify-content: flex-end;
    padding: 30px;
    text-align: right;
    text-shadow: 0 0 5px #fdfcff;
    width: 80px;
  }
  
  section > *:first-child,
  section[data-header] > :nth-child(2) {
    margin-top: 0;
  }
  
  section > *:last-child,
  section [data-footer] > :nth-last-child(2) {
    margin-bottom: 0;
  }
  
  section p,
  section blockquote {
    margin: 0 0 15px;
  }
  
  section h1,
  section h2,
  section h3,
  section h4,
  section h5,
  section h6 {
    margin: 0;
  }
  
  section h1 strong, section h2 strong, section h3 strong, section h4 strong, section h5 strong, section h6 strong {
    color: #009dd5;
    font-weight: inherit;
  }
  
  section h1::part(auto-scaling), section h2::part(auto-scaling), section h3::part(auto-scaling), section h4::part(auto-scaling), section h5::part(auto-scaling), section h6::part(auto-scaling) {
    max-height: 660px;
  }
  
  section h1 {
    font-size: 2em;
  }
  
  section h2 {
    bottom: 0.5rem;
    color: #DCDCDC 50%;
    font-size: 0.75em;
    font-weight: normal;
    margin: 0;
    position: absolute;
    left: 0.5rem;
  }
  
  section h3 {
    font-size: 1.4em;
    letter-spacing: 2px;
  }
  
  section h4 {
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  
  section h5 {
    font-size: 1em;
    letter-spacing: 1px;
  }
  
  section h6 {
    font-size: 0.8em;
    letter-spacing: 1px;
  }
  
  section header,
  section footer {
    color: rgba(#202228, 0.4);
    font-size: 0.45em;
    left: 70px;
    letter-spacing: 1px;
    position: absolute;
    right: 70px;
    text-shadow: 0 1px 0 rgba(#fdfcff, 0.8);
    z-index: 1;
  }
  
  section header {
    top: 30px;
  }
  
  section footer {
    bottom: 30px;
  }
  
  section a {
    color: #009dd5;
    text-decoration: none;
  }
  
  section a:hover {
      color: color-mix(in srgb, #202228 25%, #009dd5);
      text-decoration: underline;
  }
  
  section ul, section ol {
      /* margin: 0 auto; Uncommenting this would center bullet points.*/
      text-align: left;
  }
  
  section > ul, section > ol {
    margin-bottom: 15px;
  }
  
  section code {
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    letter-spacing: 0;
  }
  
  section > code, section *:not(pre) > code {
      background-color: #F0F0F0; 
      filter: drop-shadow(0 4px 4px rgba(#000, 1));
      color: #202228;
      margin: -0.2em 0.2em 0.2em;
      padding: 0.2em;
  }
  
  section pre {
      --preserve-aspect-ratio: xMidYMid meet;
      filter: drop-shadow(0 4px 4px rgba(#000, 1));
      font-size: 70%;
      line-height: 1.15;
      margin: 15px 0 30px;
      text-align: left;
  }
  section pre::part(auto-scaling) {
      max-height: 570px;
  }
  
  section pre > code {
      background: #F0F0F0; 
      filter: drop-shadow(0 4px 4px #A0A0A0);
      box-sizing: content-box;
      color: #202228;
      display: block;
      margin: 0 auto;
      min-width: 456px; 
      padding: 0.4em 0.6em;
  }
  
  section[data-size='4:3'] pre > code {
    min-width: 328px;
  }
  
  section table {
  border-collapse: collapse;
  margin: 0 auto 15px;
  }
  
  section table > thead > tr > td, section table > tbody > tr > td, section table > thead > tr > th, section table > tbody > tr > th {
      padding: 0.15em 0.5em;
  }
  
  section table > thead > tr > td, section table > thead > tr > th {
      border-bottom: 3px solid currentColor;
  }
  
  section table > tbody > tr:not(:last-child) > td, section table > tbody > tr:not(:last-child) > th {
      border-bottom: 1px solid currentColor; 
  }
  
  section blockquote {
    font-size: 90%;
    line-height: 1.3;
    padding: 0 2em;
    position: relative;
    z-index: 0;
  }
  
  section blockquote::before, section blockquote::after {
    /* content: url('./assets/uncover-quote.svg');  Need to add asset */
    height: auto;
    pointer-events: none;
    position: absolute;
    width: 1em;
    z-index: -1;
  }
  
  section blockquote::before {
    left: 0;
    top: 0;
  }
  
  section blockquote::after {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }
  
  section blockquote > *:last-child {
    margin-bottom: 0;
  }
  
  section mark {
    color: #009dd5;
    background: transparent;
  }
  
  
     
  /*
  Colorbrewer theme
  Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
  Ported by Fabrício Tavares de Oliveira
  */
  
  .hljs-string,
  .hljs-meta,
  .hljs-symbol,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-addition {
    color: #756bb1;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #636363;
  }
  
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-bullet,
  .hljs-link {
    color: #6FDE6E;
  }
  
  .hljs-deletion,
  .hljs-variable {
    color: #88f;
  }
  
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-title,
  .hljs-section,
  .hljs-built_in,
  .hljs-doctag,
  .hljs-type,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-strong {
    color: #235FA4;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-attribute {
    color: #FF4242;
  }
  
  .yellow-highlight {background-color: yellow;}
